/* --- Navbar --- */
.barra--topo {

    background: linear-gradient(to left, #ff845c, #FFEB3B 100%);

    nav {
        height: 32px;
        line-height: 32px;
        background-color: transparent !important;
        a {
            font-size: 14px;
            font-weight: 400;
            color: #f8f8f8;
        }
        i {
            display: block;
            font-size: 22px;
            height: 32px;
            line-height: 32px;
        }
        .right {
            margin-left: 8px;
        }
    }
}

//* MENU PRINCIPAL *//
.menu--principal {

    background: white;
    box-shadow: inset 0px 8px 10px -10px #d27d01;

    nav {
        background-color: transparent !important;
    }
    nav a {
        @include l-menu;
        color: #c1c1c1;
    }
    nav a:hover {
        color: #FF9800;
        text-shadow: 0px 0px 1px;
        background-color: rgba(181, 175, 175, 0.21);
    }
    nav  i {
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text !important;
        background-clip: border-box;
        background: -webkit-linear-gradient(45deg, #FFEB3B, #FF5722 100%);
    }
    nav a:hover i {
        background: -webkit-linear-gradient(45deg, #fbfbfb, #8a8a8a);
        text-shadow: none;
    }
    .dropdown-content li {
        a {
            @include s-menu;
            line-height: 36px;
        }
        a:hover{
            background-color: #FFEB3B;
            color: #000000;
        }
    }

}