/* -- CSS Estilos -- */
.default {
    margin: 0 auto;
    padding: 10px 0px 1px 0px;
}

// Cores das sections
.first { background: var(--ab-orange); }
.second { background: var(--ab-black); }
.third { background: var(--ab-alert); }

// Utils Reveals 
.scroll-reveal {
    animation: fadeAndSlide 0.7s ease-in-out forwards;
}
@keyframes fadeAndSlide {
    from {
        margin-top: 350px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}
/* Colors */
/*
.first:nth-child(),
.second:nth-child(),
.third:nth-child() {
    background: #4ecdc4;
    flex-grow: 3;
}
*/