/* --- Navbar --- */
.barra--topo {
    background: linear-gradient(to left, #ff845c, #FFEB3B 100%);
}
.barra--topo nav {
    height: 32px;
    line-height: 32px;
    background-color: transparent !important;
}
.barra--topo nav a {
    font-size: 14px;
    font-weight: 400;
    color: #f8f8f8;
}
.barra--topo nav i {
    display: block;
    font-size: 22px;
    height: 32px;
    line-height: 26px;
}
.barra--topo nav .right {
    margin-left: 8px;
}
.menu--principal {
    background: white;
}
.menu--principal nav {
    background-color: transparent !important;
}
.menu--principal nav a {
    color: black;
}
.menu--principal nav  i {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background: -webkit-linear-gradient(45deg, #FFEB3B, #FF5722 100%);
}
.menu--principal .dropdown-content li > a {
    line-height: 36px;
}