/*-- Import Link--*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Lato:300i|Monoton|Open+Sans|Poiret+One|Roboto");
@import url(css/materialize.css);
/*----------------------------------------------*/
/**** //Reset// ****/
body {
  padding: 0;
  background: #f8f8f8;
  font-family: 'Muli', sans-serif;
  color: #343c55;
  max-width: 100% !important;
  overflow-x: hidden !important; }

p {
  color: #726a84;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #343c55;
  line-height: 1.4;
  letter-spacing: 0.03rem; }

.h6, h6 {
  font-size: 1rem; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  color: #e2a126; }

a:hover {
  color: red; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  cursor: pointer !important; }

.image-hover a img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 10px;
  width: 90%; }

.image-hover a:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 0px 30px 5px #b0b0b085;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 10px; }

.section {
  display: grid !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  padding-left: 1rem;
  padding-right: 1rem; }

/** -- CSS Estilos -- **/
.default {
  margin: 0 auto;
  padding: 6px 0px 0px 0px; }

.secao--1 {
  background: #f3f3f3; }

.user-view .background {
  background: linear-gradient(to left, #fd6c3e, #ffa828 100%); }

.avatar-wrapper {
  display: block;
  max-width: 64px; }

.avatar-wrapper .user-thumb {
  display: block;
  overflow: hidden;
  height: 64px; }

.avatar-wrapper .user-thumb:hover::after {
  transform: scale(1.2);
  border-color: #FF5722;
  transition: transform 0.2s cubic-bezier(0.06, 0.59, 0.24, 1.55), border-color 0.2s;
  cursor: pointer; }

.avatar-wrapper .user-thumb::after {
  border-width: 4px; }

.avatar-wrapper .user-thumb::after {
  content: '';
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: transform .15s, border-color .15s; }

/*
.user-view .circle {
    width: 64px;
    height: 64px;
    object-fit: cover;
    background-image: linear-gradient(220deg, rgba(247, 247, 247, 0.5), rgba(247, 247, 247, 0.5) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 3px;
}
*/
.user-view .name {
  font-weight: 700 !important;
  color: #757575 !important; }

.user-view .email {
  color: white !important; }

/* --- Navbar --- */
.barra--topo {
  background: linear-gradient(to left, #ff845c, #FFEB3B 100%); }

.barra--topo nav {
  height: 32px;
  line-height: 32px;
  background-color: transparent !important; }

.barra--topo nav a {
  font-size: 14px;
  font-weight: 400;
  color: #f8f8f8; }

.barra--topo nav i {
  display: block;
  font-size: 22px;
  height: 32px;
  line-height: 26px; }

.barra--topo nav .right {
  margin-left: 8px; }

.menu--principal {
  background: white;
  box-shadow: inset 0px 8px 10px -10px #d27d01; }

.menu--principal nav {
  background-color: transparent !important; }

.menu--principal nav a {
  color: #c1c1c1; }

.menu--principal nav a:hover {
  color: #FF9800;
  text-shadow: 0px 0px 1px;
  background-color: rgba(181, 175, 175, 0.21); }

.menu--principal nav a:hover i {
  background: -webkit-linear-gradient(45deg, #fbfbfb, #8a8a8a);
  text-shadow: none; }

.menu--principal nav i {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background: -webkit-linear-gradient(45deg, #FFEB3B, #FF5722 100%); }

.menu--principal .dropdown-content li > a {
  line-height: 36px; }

/* //// Cards //// */
.card {
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08); }

.card .thumb {
  display: flex;
  max-height: 192px; }

.card .thumb img {
  width: 100%;
  height: auto;
  background-clip: content-box;
  background-size: cover;
  background-position-x: center;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.card .title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  padding: 5px 10px;
  color: black; }

.card .text {
  margin: 0;
  padding: 5px 10px; }

.card .text p {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3; }

.alert h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0; }

.alert span {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #bbb; }

.go {
  padding: 0 10px;
  border-width: 3px 0 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #4CAF50, #29ec31) 1 100%;
  background: aliceblue; }
  .go h3 {
    color: #4caf50; }

.attention {
  padding: 0 10px;
  border-width: 3px 0 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ffc107, #FFEB3B) 1 100%;
  background: #ffeaab66; }
  .attention h3 {
    color: #ffc107; }

.stop {
  padding: 0 10px;
  border-width: 3px 0 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ff0101, #fb6868) 1 100%;
  background: #ffeded; }
  .stop h3 {
    color: #ff0101; }
