/*-- Import Link--*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Lato:300i|Monoton|Open+Sans|Poiret+One|Roboto");
@import url("scss/assets/fontawesome.scss");
@import url(css/materialize.css);
/*----------------------------------------------*/
.user-view .background {
  background: linear-gradient(to left, #fd6c3e, #ffa828 100%); }

.user-view .circle {
  width: 64px;
  height: 64px;
  object-fit: cover;
  background-image: linear-gradient(220deg, rgba(247, 247, 247, 0.5), rgba(247, 247, 247, 0.5) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 3px; }

.user-view .name {
  font-weight: 700 !important;
  color: #757575 !important; }

.user-view .email {
  color: white !important; }

/** -- CSS Estilos -- **/
body {
  background: #f8f8f8; }

/* div { margin: 20px 0; } */
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0; }

span {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #bbb; }

.true {
  padding: 0 10px;
  border-width: 3px 0 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #4CAF50, #29ec31) 1 100%;
  background: aliceblue; }

.true h3 {
  color: #4caf50; }

.alert {
  padding: 0 10px;
  border-width: 3px 0 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ffc107, #FFEB3B) 1 100%;
  background: #ffeaab66; }

.alert h3 {
  color: #ffc107; }

.link {
  padding: 0 10px;
  border-width: 3px 0 3px 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ff0101, #fb6868) 1 100%;
  background: #ffeded; }

.link h3 {
  color: #ff0101; }
