// 1. Colors
// Valores
:root {
    // métodos
    --background-color: var(--ab-white);
    --background: var(--background-color);

    //textos
    --heading-color: var(--ab-gray);
    --color: var(--text-color);
    --text-color: var(--ab-black);
    --link-color: var(--ab-orange);
    --error-code-color: var(--ab-alert);

    // cores
    --ab-white: #F5F2F2;
    --ab-gray: #C1C1C1;
    --ab-black: #262626;
    --ab-yellow: #FFEB3B;
    --ab-orange: #FF845C;
    --ab-alert: red;


/* 
    //Declarar no CSS

    background: var(--exemplo-1);
    background: var(--exemplo-2);

    //Declarar no SCSS
    
    --exemplo-1: #fff;
    --exemplo-2: var(--cor);
    --cor: #000:
*/

}


    