  @mixin l-menu { 
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
  }
  @mixin s-menu {
      font-family: 'Roboto', sans-serif;
      font-size: .9rem;
  }

  /*** More variables not shown here.. ***/