.alert {
    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
    span{
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #bbb;
    }
}
.go {
    padding: 0 10px;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #4CAF50, #29ec31) 1 100%;
    background: aliceblue;

    h3 {
        color: #4caf50;
    }
}
.attention {
    padding: 0 10px;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ffc107, #FFEB3B) 1 100%;
    background: #ffeaab66;

    h3 {
        color: #ffc107;
    }
}
.stop {
    padding: 0 10px;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ff0101, #fb6868) 1 100%;
    background: #ffeded;

    h3 {
        color: #ff0101;
    }
}